*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

header{
    background-image: url('/static/images/header.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 150px;
    position: relative;
}



.cart ion-icon {
    vertical-align: bottom;
    font-size: 20px;
    padding-right: 5px;
}

.cart a{
    background-color: royalblue;
    color: seashell;
    cursor: pointer;
    text-decoration: none;
}

.container,
.products-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
    padding-bottom: 100px;
}
.image {
    margin-right: 20px;
    margin-left: 20px;
    position: relative;
    overflow: hidden;
}

.add-cart{
    position: absolute;
    width: 100%;
    background-color: lightgray;
    transition: all 0.3s ease-in-out;
    opacity: 0;
    cursor: pointer;
    text-align: center;
}

.image:hover .cart1,
.image:hover .cart2,
.image:hover .cart3,
.image:hover .cart4{
    bottom: 50px;
    opacity: 1;
    padding: 10px;
    text-decoration: none;
}

/*-----------New ----------- */
.va {
    display: flex;
    align-items: center;
  }
  
  .hero,
  .cta {
    background: url(data:image/svg+xml;charset=utf8,%3Csvg%20viewBox%3D%220%200%20512%20512%22%20width%3D%22512%22%20height%3D%22512%22%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cfilter%20id%3D%22noise%22%3E%3CfeTurbulence%20type%3D%22fractalNoise%22%20baseFrequency%3D%220.875%22%20result%3D%22noise%22%20%2F%3E%3CfeColorMatrix%20type%3D%22matrix%22%20values%3D%220%200%200%200%200%200%200%200%200%200%200%200%200%200%200%200%200%200%200.4296875%200%22%20%2F%3E%3C%2Ffilter%3E%3Crect%20filter%3D%22url%28%23noise%29%22%20x%3D%220%22%20y%3D%220%22%20width%3D%22512%22%20height%3D%22512%22%20fill%3D%22transparent%22%20opacity%3D%221%22%20%2F%3E%3C%2Fsvg%3E), linear-gradient(52deg, #42475C 0%, #20222E 71%);
  }
  
  .cta {
    height: 500px;
    border-top: 10px solid turquoise;
  }
  
  footer {
    color: white;
    background: #604087 !important;
  }
  
  footer strong {
    color:#E8CD77 ;
  }
  
  footer a {
    color:#E8CD77 ;
    
  }
  
  .title {
    color: white;
    font-weight: 800;
    font-size: 4rem;
    font-family: 'Nunito Sans', sans-serif;
    text-shadow: 1px 1px 1px #000, 3px 3px 5px rgb(0, 0, 3);
  }
  
  .subtitle {
    color: white;
    font-size: 1.2rem;
    text-shadow: 1px 1px 1px #000, 3px 3px 5px rgb(0, 0, 3);
  }
  
  hr.content-divider {
    max-width: 75px;
    height: 5px;
  }
  
  #parallax-1 {
    background: url('/static/images/header.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-top: 10px solid coral;
  }

  #parallax-0 {
    
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  #parallax-1 hr {
    background: #070749;
  }
  
  #parallax-2 {
    background: url('/static/images/sutirta-budiman-Jgiv1rSIpVM-unsplash (1).jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-top: 10px solid #070749;
  }
  
  #parallax-2 hr {
    background: #ffff00;
  }
  
  #parallax-3 {
    background: url('/static/images/tania-mousinho-DvDnHdWSo-k-unsplash (1).jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-top: 10px solid #ffff00;
  }
  
  #parallax-3 hr {
    background: #40e0d0;
  }
  
  .label {
    color: white;
  }
  
  input {
    background: transparent !important;
    border: 1px solid #40e0d0 !important;
    color: white !important;
  }
  
  input::placeholder {
    color: white !important;
  }



















