{% extends 'VRApp/main.html' %} {% load static %} {% block title %}Animal Parks | Esovis
VR{% endblock %}{% block content%}

<div class="jumbotron jumbotron-fluid jumbotron-image">
  <div class="container spacing">
    <h1 class="display-4">
      Discover your <br />
      wild side
    </h1>
   
        <p class="lead text-justify" style="color: white">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. <br>
            Cumque animi atque eos aliquam officia soluta!
            Iure distinctio facere
            similique fugiat excepturi fugit laborum delectus!
          </p>
    </div>

  </div>
</div>
<br />
<div class="container-fluid" style="background-color: white">
  <div class="row row-cols-1 row-cols-md-3">
    <div class="col mb-5">
      <div class="card h-100  box-shadow-hover shadow rounded-0 mt-5" >
        <img
          src="/static/images/bird.jpg"
          class="card-img-top-c img-fluid rounded-0"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">Hyde Park, London, United Kingdom</h5>
          <p class="card-text">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit.
            Consequuntur, saepe.
          </p>
        </div>
      </div>
    </div>
    <div class="col mb-5">
      <div class="card h-100 box-shadow-hover shadow rounded-0 mt-5">
        <img
          src="/static/images/baboon.jpg"
          class="card-img-top-c img-fluid rounded-0"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">Nuuksio National Park, Finland</h5>
          <p class="card-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus,
            distinctio.
          </p>
        </div>
      </div>
    </div>
    <div class="col mb-5">
      <div class="card h-100 box-shadow-hover shadow rounded-0 mt-5">
        <img
          src="/static/images/flamingo.jpg"
          class="card-img-top-c img-fluid rounded-0"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">Overloon Park ,Overloon, Netherlands</h5>
          <p class="card-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus,
            delectus.
          </p>
        </div>
      </div>
    </div>
    <div class="col mb-5">
      <div class="card h-100 box-shadow-hover shadow rounded-0 mt-5" >
        <img
          src="/static/images/horse.jpg"
          class="card-img-top-c img-fluid rounded-0"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">New Forest National Park, United Kingdom</h5>
          <p class="card-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Consectetur, at!
          </p>
        </div>
      </div>
    </div>
    <div class="col mb-5">
      <div class="card h-100 box-shadow-hover shadow rounded-0 mt-5">
        <img
          src="/static/images/rhino.jpg"
          class="card-img-top-c img-fluid rounded-0"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">Nairobi National Park, Nairobi,Kenya</h5>
          <p class="card-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Consectetur, at!
          </p>
        </div>
      </div>
    </div>
    <div class="col mb-5">
      <div class="card h-100 box-shadow-hover shadow rounded-0 mt-5" >
        <img
          src="/static/images/lion.jpg"
          class="card-img-top-c img-fluid rounded-0"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">Maasai Mara National Reserve,Kenya</h5>
          <p class="card-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Consectetur, at!
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<br>

{% endblock content%}
