{% extends 'VRApp/main.html' %} {% load static %} {% block title %}Recreation Centers | Esovis
VR{% endblock %}{% block content%}
<div class="jumbotron jumbotron-fluid jumbotron-image-1">
    <div class="container spacing" >
      <h1 class="display-4 mt-5">
        Discover your <br />
        calm side
      </h1>
     
          <p class="lead text-justify" style="color: white">
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. <br>
              Cumque animi atque eos aliquam officia soluta!
              Iure distinctio facere
              similique fugiat excepturi fugit laborum delectus!
            </p>
      </div>
  
    </div>
  </div>
  <br />
  <div class="container-fluid" style="background-color: white">
    <div class="row row-cols-1 row-cols-md-3">
      <div class="col mb-5">
        <div class="card h-100  box-shadow-hover shadow rounded-0 mt-5" >
          <img
            src="/static/images/boats.jpg"
            class="card-img-top-c img-fluid rounded-0"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title ">Stockton State Park Marina, Stockton, United States</h5>
            <p class="card-text ">
              Lorem ipsum dolor, sit amet consectetur adipisicing elit.
              Consequuntur, saepe.
            </p>
            <!-- <a href="{% url 'shop'%}" class="btn btnClass">Shop now</a> -->
          </div>
        </div>
      </div>
      <div class="col mb-5">
        <div class="card h-100 box-shadow-hover shadow rounded-0 mt-5">
          <img
            src="/static/images/girl.jpg"
            class="card-img-top-c img-fluid rounded-0"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title">Red Rock Canyon Park, Mountains Recreation & Conservation Authority, Topanga, United States</h5>
            <p class="card-text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus,
              distinctio.
            </p>
            <!-- <a href="{% url 'shop'%}" class="btn btnClass">Shop now</a> -->
          </div>
        </div>
      </div>
      <div class="col mb-5">
        <div class="card h-100 box-shadow-hover shadow rounded-0 mt-5">
          <img
            src="/static/images/rocks.jpg"
            class="card-img-top-c img-fluid rounded-0"
            alt="..."
          />
          <div class="card-body ">
            <h5 class="card-title">Sandy Cape Recreation Park, Australia</h5>
            <p class="card-text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus,
              delectus.
            </p>
          </div>
        </div>
      </div>
      <div class="col mb-5">
        <div class="card h-100 box-shadow-hover shadow rounded-0 mt-5" >
          <img
            src="/static/images/mountain.jpg"
            class="card-img-top-c img-fluid rounded-0"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title">Mt. Hood Park Division Recreation Area, Government Camp, United States</h5>
            <p class="card-text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Consectetur, at!
            </p>
          </div>
        </div>
      </div>
      <div class="col mb-5">
        <div class="card h-100 box-shadow-hover shadow rounded-0 mt-5">
          <img
            src="/static/images/tent.jpg"
            class="card-img-top-c img-fluid rounded-0"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title">Arches National Park, Moab, United States</h5>
            <p class="card-text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Consectetur, at!
            </p>
          </div>
        </div>
      </div>
      <div class="col mb-5">
        <div class="card h-100 box-shadow-hover shadow rounded-0 mt-5" >
          <img
            src="/static/images/park.jpg"
            class="card-img-top-c img-fluid rounded-0"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title">Franklin Park, Boston, MA</h5>
            <p class="card-text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Consectetur, at!
            </p>
          </div>
        </div>
      </div>
      <div class="col mb-5">
        <div class="card h-100 box-shadow-hover shadow rounded-0 mt-5" >
          <img
            src="/static/images/waterfall.jpg"
            class="card-img-top-c img-fluid rounded-0"
            alt="..."
          />
          <div class="card-body ">
            <h5 class="card-title">Tettegouche State Park, Silver Bay, United States</h5>
            <p class="card-text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Consectetur, at!
            </p>
          </div>
        </div>
      </div>
      <div class="col mb-5">
        <div class="card h-100 box-shadow-hover shadow rounded-0 mt-5" >
          <img
            src="/static/images/man.jpg"
            class="card-img-top-c img-fluid rounded-0"
            alt="..."
          />
          <div class="card-body ">
            <h5 class="card-title">Bali Safari Park, Serongga, Gianyar, Bali, Indonesia</h5>
            <p class="card-text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Consectetur, at!
            </p>
          </div>
        </div>
      </div>
      <div class="col mb-5">
        <div class="card h-100 box-shadow-hover shadow rounded-0 mt-5" >
          <img
            src="/static/images/pineapple.jpg"
            class="card-img-top-c img-fluid rounded-0"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title">Pinery Provincial Park, Lambton Shores, Canada</h5>
            <p class="card-text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Consectetur, at!
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="container"></div>
{% endblock content%}