<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Sign Up |Esovis VR</title>
    <link rel="icon" href="/static/images/logo2.png" />
    <link
      rel="stylesheet"
      href="https://cdn.materialdesignicons.com/4.8.95/css/materialdesignicons.min.css"
    />
    <!-- <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    /> -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/static/css/login.css" />
  </head>
  <body>
    <nav
      class="navbar navbar-expand-lg navbar-dark"
      style="background-color: #604087"
    >
      <a class="navbar-brand" href="{% url 'home' %}">
        <img
          src="{% static 'images/logo2.png' %}"
          width="112"
          height="28"
          alt="VRTours"
        />
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'home' %}"
              >Home <span class="sr-only">(current)</span></a
            >
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'shop' %}"
              >Live Virtual Tours <span class="sr-only">(current)</span></a
            >
          </li>
          <li class="nav-item active dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdown"
              role="button"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
              >Country
            </a>
            <div
              class="dropdown-menu scrollable-menu"
              aria-labelledby="navbarDropdown"
            >
              <a class="dropdown-item" href="#">Afghanistan</a>
              <a class="dropdown-item" href="#">Albania</a>
              <a class="dropdown-item" href="#">Algeria</a>
              <a class="dropdown-item" href="#">American Samoa</a>
              <a class="dropdown-item" href="#">Andorra</a>
              <a class="dropdown-item" href="#">Angola</a>
              <a class="dropdown-item" href="#">Anguilla</a>
              <a class="dropdown-item" href="#">Antigua & Barbuda</a>
              <a class="dropdown-item" href="#">Argentina</a>
              <a class="dropdown-item" href="#">Armenia</a>
              <a class="dropdown-item" href="#">Aruba</a>
              <a class="dropdown-item" href="#">Australia</a>
              <a class="dropdown-item" href="#">Azerbaijan</a>
              <a class="dropdown-item" href="#">Bahamas</a>
              <a class="dropdown-item" href="#">Bahrain</a>
              <a class="dropdown-item" href="#">Bangladesh</a>
              <a class="dropdown-item" href="#">Barbados</a>
              <a class="dropdown-item" href="#">Belarus</a>
              <a class="dropdown-item" href="#">Belgium</a>
              <a class="dropdown-item" href="#">Belize</a>
              <a class="dropdown-item" href="#">Benin</a>
              <a class="dropdown-item" href="#">Bermuda</a>
              <a class="dropdown-item" href="#">Bhutan</a>
              <a class="dropdown-item" href="#">Bolivia</a>
              <a class="dropdown-item" href="#">Bonaire</a>
              <a class="dropdown-item" href="#">Bosnia & Herzegovina</a>
              <a class="dropdown-item" href="#">Botswana</a>
              <a class="dropdown-item" href="#">Brazil</a>
              <a class="dropdown-item" href="#">British Indian Ocean Ter</a>
              <a class="dropdown-item" href="#">Brunei</a>
              <a class="dropdown-item" href="#">Bulgaria</a>
              <a class="dropdown-item" href="#">Burkina Faso</a>
              <a class="dropdown-item" href="#">Burundi</a>
              <a class="dropdown-item" href="#">Cambodia</a>
              <a class="dropdown-item" href="#">Cameroon</a>
              <a class="dropdown-item" href="#">Canada</a>
              <a class="dropdown-item" href="#">Canary Islands</a>
              <a class="dropdown-item" href="#">Cape Verde</a>
              <a class="dropdown-item" href="#">Cayman Islands</a>
              <a class="dropdown-item" href="#">Central African Republic</a>
              <a class="dropdown-item" href="#">Chad</a>
              <a class="dropdown-item" href="#">Channel Islands</a>
              <a class="dropdown-item" href="#">Chile</a>
              <a class="dropdown-item" href="#">China</a>
              <a class="dropdown-item" href="#">Christmas Island</a>
              <a class="dropdown-item" href="#">Cocos Island</a>
              <a class="dropdown-item" href="#">Colombia</a>
              <a class="dropdown-item" href="#">Comoros</a>
              <a class="dropdown-item" href="#">Congo</a>
              <a class="dropdown-item" href="#">Cook Islands</a>
              <a class="dropdown-item" href="#">Costa Rica</a>
              <a class="dropdown-item" href="#">Cote DIvoire</a>
              <a class="dropdown-item" href="#">Croatia</a>
              <a class="dropdown-item" href="#">Cuba</a>
              <a class="dropdown-item" href="#">Curacao</a>
              <a class="dropdown-item" href="#">Cyprus</a>
              <a class="dropdown-item" href="#">Czech Republic</a>
              <a class="dropdown-item" href="#">Denmark</a>
              <a class="dropdown-item" href="#">Djibouti</a>
              <a class="dropdown-item" href="#">Dominica</a>
              <a class="dropdown-item" href="#">Dominican Republic</a>
              <a class="dropdown-item" href="#">East Timor</a>
              <a class="dropdown-item" href="#">Ecuador</a>
              <a class="dropdown-item" href="{% url 'countries' 'Egypt' %}">Egypt</a>
              <a class="dropdown-item" href="#">El Salvador</a>
              <a class="dropdown-item" href="#">Equatorial Guinea</a>
              <a class="dropdown-item" href="#">Eritrea</a>
              <a class="dropdown-item" href="#">Estonia</a>
              <a class="dropdown-item" href="#">Ethiopia</a>
              <a class="dropdown-item" href="#">Falkland Islands</a>
              <a class="dropdown-item" href="#">Faroe Islands</a>
              <a class="dropdown-item" href="#">Fiji</a>
              <a class="dropdown-item" href="#">Finland</a>
              <a class="dropdown-item" href="#">France</a>
              <a class="dropdown-item" href="#">French Guiana</a>
              <a class="dropdown-item" href="#">French Polynesia</a>
              <a class="dropdown-item" href="#">French Southern Ter</a>
              <a class="dropdown-item" href="#">Gabon</a>
              <a class="dropdown-item" href="#">Gambia</a>
              <a class="dropdown-item" href="#">Georgia</a>
              <a class="dropdown-item" href="#">Germany</a>
              <a class="dropdown-item" href="#">Ghana</a>
              <a class="dropdown-item" href="#">Gibraltar</a>
              <a class="dropdown-item" href="#">Great Britain</a>
              <a class="dropdown-item" href="#">Greece</a>
              <a class="dropdown-item" href="#">Greenland</a>
              <a class="dropdown-item" href="#">Grenada</a>
              <a class="dropdown-item" href="#">Guadeloupe</a>
              <a class="dropdown-item" href="#">Guam</a>
              <a class="dropdown-item" href="#">Guatemala</a>
              <a class="dropdown-item" href="#">Guinea</a>
              <a class="dropdown-item" href="#">Guyana</a>
              <a class="dropdown-item" href="#">Haiti</a>
              <a class="dropdown-item" href="#">Hawaii</a>
              <a class="dropdown-item" href="#">Honduras</a>
              <a class="dropdown-item" href="#">Hong Kong</a>
              <a class="dropdown-item" href="#">Hungary</a>
              <a class="dropdown-item" href="#">Iceland</a>
              <a class="dropdown-item" href="#">Indonesia</a>
              <a class="dropdown-item" href="#">India</a>
              <a class="dropdown-item" href="#">Iran</a>
              <a class="dropdown-item" href="#">Iraq</a>
              <a class="dropdown-item" href="#">Ireland</a>
              <a class="dropdown-item" href="#">Isle of Man</a>
              <a class="dropdown-item" href="#">Israel</a>
              <a class="dropdown-item" href="#">Italy</a>
              <a class="dropdown-item" href="#">Jamaica</a>
              <a class="dropdown-item" href="#">Japan</a>
              <a class="dropdown-item" href="#">Jordan</a>
              <a class="dropdown-item" href="#">Kazakhstan</a>
              <a class="dropdown-item" href="{% url 'countries' 'Kenya' %}">Kenya</a>
              <a class="dropdown-item" href="#">Kiribati</a>
              <a class="dropdown-item" href="#">Korea North</a>
              <a class="dropdown-item" href="#">Korea South</a>
              <a class="dropdown-item" href="#">Kuwait</a>
              <a class="dropdown-item" href="#">Kyrgyzstan</a>
              <a class="dropdown-item" href="#">Laos</a>
              <a class="dropdown-item" href="#">Latvia</a>
              <a class="dropdown-item" href="#">Lebanon</a>
              <a class="dropdown-item" href="#">Lesotho</a>
              <a class="dropdown-item" href="#">Liberia</a>
              <a class="dropdown-item" href="#">Libya</a>
              <a class="dropdown-item" href="#">Liechtenstein</a>
              <a class="dropdown-item" href="#">Lithuania</a>
              <a class="dropdown-item" href="#">Luxembourg</a>
              <a class="dropdown-item" href="#">Macau</a>
              <a class="dropdown-item" href="#">Macedonia</a>
              <a class="dropdown-item" href="#">Madagascar</a>
              <a class="dropdown-item" href="#">Malaysia</a>
              <a class="dropdown-item" href="#">Malawi</a>
              <a class="dropdown-item" href="#">Maldives</a>
              <a class="dropdown-item" href="#">Mali</a>
              <a class="dropdown-item" href="#">Malta</a>
              <a class="dropdown-item" href="#">Marshall Islands</a>
              <a class="dropdown-item" href="#">Martinique</a>
              <a class="dropdown-item" href="#">Mauritania</a>
              <a class="dropdown-item" href="#">Mauritius</a>
              <a class="dropdown-item" href="#">Mayotte</a>
              <a class="dropdown-item" href="#">Mexico</a>
              <a class="dropdown-item" href="#">Midway Islands</a>
              <a class="dropdown-item" href="#">Moldova</a>
              <a class="dropdown-item" href="#">Monaco</a>
              <a class="dropdown-item" href="#">Mongolia</a>
              <a class="dropdown-item" href="#">Montserrat</a>
              <a class="dropdown-item" href="#">Mozambique</a>
              <a class="dropdown-item" href="#">Myanmar</a>
              <a class="dropdown-item" href="#">Nambia</a>
              <a class="dropdown-item" href="#">Nauru</a>
              <a class="dropdown-item" href="#">Nepal</a>
              <a class="dropdown-item" href="#">Netherland Antilles</a>
              <a class="dropdown-item" href="#"
                >Netherlands (Holland, Europe)</a
              >
              <a class="dropdown-item" href="#">Nevis</a>
              <a class="dropdown-item" href="#">New Caledonia</a>
              <a class="dropdown-item" href="#">New Zealand</a>
              <a class="dropdown-item" href="#">Nicaragua</a>
              <a class="dropdown-item" href="#">Niger</a>
              <a class="dropdown-item" href="#">Nigeria</a>
              <a class="dropdown-item" href="#">Niue</a>
              <a class="dropdown-item" href="#">Norfolk Island</a>
              <a class="dropdown-item" href="#">Norway</a>
              <a class="dropdown-item" href="#">Oman</a>
              <a class="dropdown-item" href="#">Pakistan</a>
              <a class="dropdown-item" href="#">Palau Island</a>
              <a class="dropdown-item" href="#">Palestine</a>
              <a class="dropdown-item" href="#">Panama</a>
              <a class="dropdown-item" href="#">Papua New Guinea</a>
              <a class="dropdown-item" href="#">Paraguay</a>
              <a class="dropdown-item" href="#">Peru</a>
              <a class="dropdown-item" href="#">Philippines</a>
              <a class="dropdown-item" href="#">Pitcairn Island</a>
              <a class="dropdown-item" href="#">Poland</a>
              <a class="dropdown-item" href="#">Portugal</a>
              <a class="dropdown-item" href="#">Puerto Rico</a>
              <a class="dropdown-item" href="#">Qatar</a>
              <a class="dropdown-item" href="#">Republic of Montenegro</a>
              <a class="dropdown-item" href="#">Republic of Serbia</a>
              <a class="dropdown-item" href="#">Reunion</a>
              <a class="dropdown-item" href="#">Romania</a>
              <a class="dropdown-item" href="#">Russia</a>
              <a class="dropdown-item" href="#">Rwanda</a>
              <a class="dropdown-item" href="#">St Barthelemy</a>
              <a class="dropdown-item" href="#">St Eustatius</a>
              <a class="dropdown-item" href="#">St Helena</a>
              <a class="dropdown-item" href="#">St Kitts-Nevis</a>
              <a class="dropdown-item" href="#">St Lucia</a>
              <a class="dropdown-item" href="#">St Maarten</a>
              <a class="dropdown-item" href="#">St Pierre & Miquelon</a>
              <a class="dropdown-item" href="#">St Vincent & Grenadines</a>
              <a class="dropdown-item" href="#">Saipan</a>
              <a class="dropdown-item" href="#">Samoa</a>
              <a class="dropdown-item" href="#">Samoa American</a>
              <a class="dropdown-item" href="#">San Marino</a>
              <a class="dropdown-item" href="#">Sao Tome & Principe</a>
              <a class="dropdown-item" href="#">Saudi Arabia</a>
              <a class="dropdown-item" href="#">Senegal</a>
              <a class="dropdown-item" href="#">Seychelles</a>
              <a class="dropdown-item" href="#">Sierra Leone</a>
              <a class="dropdown-item" href="#">Singapore</a>
              <a class="dropdown-item" href="#">Slovakia</a>
              <a class="dropdown-item" href="#">Slovenia</a>
              <a class="dropdown-item" href="#">Solomon Islands</a>
              <a class="dropdown-item" href="#">South Africa</a>
              <a class="dropdown-item" href="#">Spain</a>
              <a class="dropdown-item" href="#">Sri Lanka</a>
              <a class="dropdown-item" href="#">Sudan</a>
              <a class="dropdown-item" href="#">Suriname</a>
              <a class="dropdown-item" href="#">Swaziland</a>
              <a class="dropdown-item" href="#">Sweden</a>
              <a class="dropdown-item" href="#">Switzerland</a>
              <a class="dropdown-item" href="#">Syria</a>
              <a class="dropdown-item" href="#">Tahiti</a>
              <a class="dropdown-item" href="#">Taiwan</a>
              <a class="dropdown-item" href="#">Tajikistan</a>
              <a class="dropdown-item" href="#">Tanzania</a>
              <a class="dropdown-item" href="#">Thailand</a>
              <a class="dropdown-item" href="#">Togo</a>
              <a class="dropdown-item" href="#">Tokelau</a>
              <a class="dropdown-item" href="#">Tonga</a>
              <a class="dropdown-item" href="#">Trinidad & Tobago</a>
              <a class="dropdown-item" href="#">Tunisia</a>
              <a class="dropdown-item" href="#">Turkey</a>
              <a class="dropdown-item" href="#">Turkmenistan</a>
              <a class="dropdown-item" href="#">Turks & Caicos Is</a>
              <a class="dropdown-item" href="#">Tuvalu</a>
              <a class="dropdown-item" href="#">Uganda</a>
              <a class="dropdown-item" href="#">United Kingdom</a>
              <a class="dropdown-item" href="#">Ukraine</a>
              <a class="dropdown-item" href="#">United Arab Emirates</a>
              <a class="dropdown-item" href="#">United States of America</a>
              <a class="dropdown-item" href="#">Uruguay</a>
              <a class="dropdown-item" href="#">Uzbekistan</a>
              <a class="dropdown-item" href="#">Vanuatu</a>
              <a class="dropdown-item" href="#">Vatican City State</a>
              <a class="dropdown-item" href="#">Venezuela</a>
              <a class="dropdown-item" href="#">Vietnam</a>
              <a class="dropdown-item" href="#">Virgin Islands (Brit)</a>
              <a class="dropdown-item" href="#">Virgin Islands (USA)</a>
              <a class="dropdown-item" href="#">Wake Island</a>
              <a class="dropdown-item" href="#">Wallis & Futana Is</a>
              <a class="dropdown-item" href="#">Yemen</a>
              <a class="dropdown-item" href="#">Zaire</a>
              <a class="dropdown-item" href="#">Zambia</a>
              <a class="dropdown-item" href="#">Zimbabwe</a>
            </div>
          </li>
          <li class="nav-item active dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdown"
              role="button"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
              >City
            </a>
            <div
              class="dropdown-menu scrollable-menu"
              aria-labelledby="navbarDropdown"
            >
              <a class="dropdown-item" href="">Kabul</a>
              <a class="dropdown-item" href="">Tirana</a>
              <a class="dropdown-item" href="">Algiers</a>
              <a class="dropdown-item" href="">Andorra la Vella</a>
              <a class="dropdown-item" href="">Luanda</a>
              <a class="dropdown-item" href="">Saint John's</a>
              <a class="dropdown-item" href="">Buenos Aires</a>
              <a class="dropdown-item" href="">Yerevan</a>
              <a class="dropdown-item" href="{% url 'cities' 'Canberra' %}">Canberra</a>
              <a class="dropdown-item" href="">Vienna</a>
              <a class="dropdown-item" href="">Baku</a>
              <a class="dropdown-item" href="">Manama</a>
              <a class="dropdown-item" href="">Dhaka</a>
              <a class="dropdown-item" href="">Bridgetown</a>
              <a class="dropdown-item" href="">Minsk</a>
              <a class="dropdown-item" href="">Brussels</a>
              <a class="dropdown-item" href="">Belmopan</a>
              <a class="dropdown-item" href="">Porto-Novo</a>
              <a class="dropdown-item" href="">Thimphu</a>
              <a class="dropdown-item" href="">Sucre (de jure)</a>
              <a class="dropdown-item" href="">Sarajevo</a>
              <a class="dropdown-item" href="">Gaborone</a>
              <a class="dropdown-item" href="">Brasilia</a>
              <a class="dropdown-item" href="">Bandar Seri Begawan</a>
              <a class="dropdown-item" href="">Sofia</a>
              <a class="dropdown-item" href="">Ouagadougou</a>
              <a class="dropdown-item" href="">Gitega</a>
              <a class="dropdown-item" href="">Praia</a>
              <a class="dropdown-item" href="">Phnom Penh</a>
              <a class="dropdown-item" href="">Yaounde</a>
              <a class="dropdown-item" href="">Ottawa</a>
              <a class="dropdown-item" href="">Bangui</a>
              <a class="dropdown-item" href="">N'Djamena</a>
              <a class="dropdown-item" href="">Santiago</a>
              <a class="dropdown-item" href="">Beijing</a>
              <a class="dropdown-item" href="">Bogotá</a>
              <a class="dropdown-item" href="">Moroni</a>
              <a class="dropdown-item" href="">Kinshasa</a>
              <a class="dropdown-item" href="">Brazzaville</a>
              <a class="dropdown-item" href="">San Jose</a>
              <a class="dropdown-item" href="">Yamoussoukro</a>
              <a class="dropdown-item" href="">Zagreb</a>
              <a class="dropdown-item" href="">Havana</a>
              <a class="dropdown-item" href="">Nicosia</a>
              <a class="dropdown-item" href="">Prague</a>
              <a class="dropdown-item" href="">Copenhagen</a>
              <a class="dropdown-item" href="">Djibouti</a>
              <a class="dropdown-item" href="">Roseau</a>
              <a class="dropdown-item" href="">Santo Domingo</a>
              <a class="dropdown-item" href="">Quito</a>
              <a class="dropdown-item" href="">Cairo</a>
              <a class="dropdown-item" href="">San Salvador</a>
              <a class="dropdown-item" href="">Malabo</a>
              <a class="dropdown-item" href="">Asmara</a>
              <a class="dropdown-item" href="">Tallinn</a>
              <a class="dropdown-item" href="">Addis Ababa</a>
              <a class="dropdown-item" href="">Tallinn</a>
              <a class="dropdown-item" href="">Suva</a>
              <a class="dropdown-item" href="">Helsinki</a>
              <a class="dropdown-item" href="{% url 'cities' 'Paris' %}">Paris</a>
              <a class="dropdown-item" href="">Libreville</a>
              <a class="dropdown-item" href="">Banjul</a>
              <a class="dropdown-item" href="">Tbilisi</a>
              <a class="dropdown-item" href="">Berlin</a>
              <a class="dropdown-item" href="">Accra</a>
              <a class="dropdown-item" href="">Athens</a>
              <a class="dropdown-item" href="">Saint George's</a>
              <a class="dropdown-item" href="">Guatemala City</a>
              <a class="dropdown-item" href="">Conakry</a>
              <a class="dropdown-item" href="">Bissau</a>
              <a class="dropdown-item" href="">Georgetown</a>
              <a class="dropdown-item" href="">Port-au-Prince</a>
              <a class="dropdown-item" href="">Tegucigalpa</a>
              <a class="dropdown-item" href="">Budapest</a>
              <a class="dropdown-item" href="">Reykjavik</a>
              <a class="dropdown-item" href="">New Delhi</a>
              <a class="dropdown-item" href="">Jakarta</a>
              <a class="dropdown-item" href="">Tehran</a>
              <a class="dropdown-item" href="">Baghdad</a>
              <a class="dropdown-item" href="">Dublin</a>
              <a class="dropdown-item" href="">Jerusalem</a>
              <a class="dropdown-item" href="">Rome</a>
              <a class="dropdown-item" href="">Kingston</a>
              <a class="dropdown-item" href="{% url 'cities' 'Tokyo' %}">Tokyo</a>
              <a class="dropdown-item" href="">Amman</a>
              <a class="dropdown-item" href="">Nur-Sultan</a>
              <a class="dropdown-item" href="">Nairobi</a>
              <a class="dropdown-item" href="">Tarawa</a>
              <a class="dropdown-item" href="">Pristina</a>
              <a class="dropdown-item" href="">Kuwait City</a>
              <a class="dropdown-item" href="">Bishkek</a>
              <a class="dropdown-item" href="">Vientiane</a>
              <a class="dropdown-item" href="">Riga</a>
              <a class="dropdown-item" href="">Beirut</a>
              <a class="dropdown-item" href="">Maseru</a>
              <a class="dropdown-item" href="">Monrovia</a>
              <a class="dropdown-item" href="">Tripoli</a>
              <a class="dropdown-item" href="">Vaduz</a>
              <a class="dropdown-item" href="">Vilnius</a>
              <a class="dropdown-item" href="">Luxembourg (city)</a>
            </div>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'historical_sites' %}"
              >Historical Sites <span class="sr-only">(current)</span></a
            >
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'animal_parks' %}"
              >Animal Parks <span class="sr-only">(current)</span></a
            >
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'recreation_centers' %}"
              >Recreation Centers <span class="sr-only">(current)</span></a
            >
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'home' %}"
              >Contact Us <span class="sr-only">(current)</span></a
            >
          </li>
        </ul>
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'signup' %}"
              >Sign Up <span class="sr-only">(current)</span></a
            >
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'login' %}"
              >Login<span class="sr-only">(current)</span></a
            >
          </li>
        </ul>
        <div class="form-inline my-2 my-lg-0">
          <!-- <a href="{% url 'signup'%}" class="btn" style="color: white"
            >Sign Up</a
          >
          <a href="{% url 'login'%}" class="btn" style="color: white">Login</a>
 -->
          <a href="{% url 'cart' %}">
            <img
              id="cart-icon"
              src="{% static 'images/cart.png' %}"
              style="width: 25px; display: inline-block; margin-left: 15px"
            />
          </a>
          <p
            id="cart-total"
            style="
              display: block;
              text-align: center;
              color: #fff;
              width: 20px;
              height: 25px;
              border-radius: 50%;
              font-size: 14px;
            "
          >
            {{cartItems}}
          </p>
        </div>
      </div>
    </nav>
    <main class="d-flex align-items-center min-vh-100 py-3 py-md-0">
      <div class="container">
        <div class="card login-card">
          <div class="row no-gutters">
            <div class="col-md-5">
              <img
                src="/static/images/alexa-west-OOTEpsO2eV0-unsplash_1.jpg"
                alt="login"
                class="login-card-img"
              />
            </div>
            <div class="col-md-7">
              <div class="card-body">
                <div class="brand-wrapper">
                  <img src="/static/images/logo2.png" alt="logo" class="logo" />
                </div>
                <p class="login-card-description">Sign Up</p>
                <form method="POST">
                  {% csrf_token %}
                  <div class="form-group">{{form.username}}</div>
                  <div class="form-group">{{form.first_name}}</div>
                  <div class="form-group">{{form.last_name}}</div>
                  <div class="form-group">{{form.email}}</div>
                  <div class="form-group">{{form.password1}}</div>
                  <div class="form-group">{{form.password2}}</div>

                  <input
                    name="login"
                    id="login"
                    class="btn btn-block login-btn mb-4"
                    type="submit"
                    value="Sign Up"
                    style="
                      background: linear-gradient(#c79f4e, #e8cd77);
                      border: none;
                    "
                  />
                </form>
                <a href="#!" class="forgot-password-link">Forgot password?</a>
                <p class="login-card-footer-text">
                  Have an account?
                  <a href="{% url 'login' %}" class="text-reset">Login</a>
                </p>
                <nav class="login-card-footer-nav">
                  <a href="#!">Terms of use.</a>
                  <a href="#!">Privacy policy</a>
                </nav>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <script
      src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
      integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
      integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
